
body {
	-ms-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;	
	-moz-user-select: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#divLeft,
#divRight {
	width: 28%;
	height: 100%;
	float: left;
	position: relative;
}
#divLeft {

	.div_personalInfoItem {
		height: 9%;
		width: 0;
		position: absolute;
		overflow: hidden;
		/*
			2D变形对jquery动画有影响
		*/
		.canvas_personalInfoItem {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	
	.smallfn {
		position: absolute;
		left: 12%;
		bottom: 5%;
		
		.ext_icon {
			width: 30px;
			height: 30px;
			float: left;
			margin-left: 6px;
			overflow: hidden;
		}
	}
}
#div_myIntroduction {
	left: 50%;
	top: 20%;
}
#div_myStudy {
	left: 38%;
	top: 32%
}
#div_myWorks {
	left: 26%;
	top: 44%;
}
#div_mySensibility {
	left: 14%;
	top: 56%;
}
#bgChange img {
	margin-left: -180px;
	margin-top: -240px;
}
#lvMessage img {
	margin-left: -120px;
}
#divMiddle {
	width: 44%;
	height: 100%;
	float: left;
	position: relative;
}
#div_content {
	width: 80%;
	height: 0;
	background: url(../img/bg_content.png);
	background-size: 100% 100%;
	margin: 50% auto;
	border-radius: 4%;
	overflow: hidden;
	position: absolute;
	left: 10%;
	z-index: 1000;
}
#article_show {
	width: 50%;
	height: 50%;
	position:	absolute;
	left: 25%;
	top: 25%;
	color: #333;
	text-indent: 30px;
	opacity: 0;
	filter: alpha(opacity=0);
}
#div_stu {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1001;
	display: none;
	
	.textClassify {
		width: 49.99%;
		height: 8%;
		float: left;
		background: #fff;
		color: #333;
		font-family: "微软雅黑";
		font-size: 120%;
		text-align: center;
		line-height: 250%;
		cursor: pointer;
	}
	
	#text_con {
		width: 90%;
		height: 82%;
		padding: 5%;
		background: #fff;
		float: left;
	}
}
#moreAppWin {
	width: 100%;
	height: 30%;
	position: absolute;
	left: 0;
	top: 35%;
	border-radius: 20px;
	background-color: #ffa;
	overflow: hidden;
	display: none;
	z-index: 1003;
	
	span.arrow {
		width: 5%;
		height: 100%;
		display: block;
		float: left;
		box-shadow: 0 0 5px #333;
		
		img {
			margin: 200% 20%;
		}
	}
}
#appCont {
	width: 90%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	
	.ac {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			
		.appE {
			width: 28%;
			height: 90%;
			margin: 2% 0 0 4%;
			float: left;
			border-radius: 7px;
			
			.appPicture {
				width: 90%;
				height: 80%;
				margin: 2px auto;
				background-image: url(../img/app_bg_0.png);
				background-repeat: no-repeat;
				background-size: contain;
			}
			
			.appName {
				text-align: center;
				font-size: 20px;
				font-family: "微软雅黑";
				color: #09f;
				font-weight: 600;
				display: block;
			}
		}
	}
}
#game {
	width: 90%;
	height: auto;
	font-family: "微软雅黑";
	margin-top: 5%;
	margin-left: 5%;
	opacity: 0;
	filter: alpha(opacity=0);
		
	h3 {
		color: #fff;
	}
	
	article {
		
		
		div {
			float: left;
			margin-left: 4%;
			
			a {
				color: #fff;
				text-decoration: none;
				outline: none;
				
				img {
					border-radius: 13%;
					box-shadow: 0 0 3px #333;
				}
				
				h5 {
					margin-top: 0;
					margin-left: 12%;
				}
			}
		}
	}
}
#asideLeft,
#asideRight {
	width: 100%;
	height: 100%;
	position: absolute;
}
#asideLeft {
	left: -100%;
	top: 0;
	position: relative;
}
#headPhotoBorder {
	width: 42%;
	height: 25%;
	border-radius: 100%;
	position: absolute;
	left: 5px;
	top: 5px;
	overflow: hidden;
	background-color: #fc0;
	box-shadow: 2px 2px 3px #666 inset;
}
#headPhoto {
	width: 90%;
	height: 90%;
	overflow: hidden;
	border-radius: 100%;
	margin: 5% auto;
	position: relative;
	box-shadow: 2px 2px 3px #666;
	
	img {
		width: 170%;
		height: 100%;
		position: absolute;
		left: -3%;
		top: 0;
	}
}
#myName {
	color: #fc0;
	font-family: "微软雅黑";
	font-size: 190%;
	position: absolute;
	left: 47%;
	top: 1%;
}
#asideRight {
	height: 50%;
	right: -100%;
	top: 50%;
}
#div_myApplication {
	border-radius: 100%;
	background-color: #ffa;
	position: absolute;
	box-shadow: 0 0 5px #444 inset;
	transform-origin: center center;
	transition: transform 0.5s;
	transform: rotate(0deg);
	
	.app {
		width: 64px;
		height: 64px;
		position:absolute;
		border-radius: 10px;
	}
}
#div_moreApplication {
	border-radius: 100%;
	background-color: #fc0;
	position: absolute;
	box-shadow: 0 0 3px #333;
	color: #fff;
}
#bg {
	width: 100%;
	height: auto;
	background: url("../img/background_01.png") no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	overflow: hidden;
	position: absolute;
	left: -30px;
	top: -30px;
	z-index: -2;
}
#cloud {
	position: absolute;
	left: 0;
	top: 0;
}
#screenCover {
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.5;
	filter: alpha(opacity=50);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	z-index: 999;
}
#musicApp {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 100%;
	background: #ccc;
}








